<li>
    <a class="btn-go-shop">
        <div class="car-view">
            <div class="img-box"><img src="http://file.carminute.co.kr/vehicle/@@img" alt="자동차이미지">
            </div>
        </div>
        <p class="car-name">@@name</p>
        <div class="car-info-box">
            <ul class="car-info-ul">
                <li class="info-grade">
                    <p class="p-name">등급</p>
                    <p class="p-cont">@@grade</p>
                </li>
                <!-- 0625수정 -->
                <!-- 선수금,보증금 추가 -->
                <li class="info-fee">
                    <!-- 변경: 월요금 -> 선수금 -->
                    <p class="p-name">선수금</p>
                    <p class="p-cont">@@rent_fee<span class="span-won">원</span></p>
                </li>
                <!-- 보증금 추가 -->
                <li class="info-fee">
                    <p class="p-name">보증금</p>
                    <p class="p-cont">@@rent_fee<span class="span-won">원</span></p>
                </li>
                <!-- //보증금 추가 -->
                <!-- 선수금,보증금 추가 -->
                <!-- //0625수정 -->
            </ul>
            <button type="button" class="btn-quote">오픈특가 견적보기</button>
        </div>
    </a>
</li>