

<section class="sect sect-footer">
    <div class="sect-container">
        <div class="footer-area">
            <div class="copy-area">
                <div class="copy-top">
                    <div class="footer-logo">
                        <img src="http://design.ebiznetworks.co.kr/lhc/meloncar/img/common/footer_logo.png" alt="로고">
                    </div>
                    <div class="family-site">
                        <button type="button" class="btn-open-site">
                            <p class="p-txt">패밀리사이트</p>
                            <p class="p-up">▲</p>
                        </button>
                        <div class="site-box">
                            <ul class="site-ul">
                                <li><a href="http://www.ebiznetworks.co.kr" target="_blank">이비즈네트웍스</a></li>
                                <li class="item-type">[커머스]</li>
                                <li><a href="http://entv.co.kr" target="_blank">이엔티비</a></li>
                                <li><a href="http://www.nurisoop.co.kr" target="_blank">누리숲</a></li>

                                <li class="item-type">[부동산]</li>
                                <li><a href="http://www.monotower.com" target="_blank">모노타워</a></li>
                                <li><a href="http://www.monopalace.com" target="_blank">모노팰리스</a></li>
                                <li><a href="http://www.ditower.co.kr" target="_blank">DI타워</a></li>
                                <li><a href="http://onbiz.co.kr" target="_blank">온비즈 오피스</a></li>

                                <li class="item-type">[호텔/리조트]</li>
                                <li><a href="http://ocean2you.co.kr" target="_blank">오션투유리조트</a></li>
                                <li><a href="http://seabay.co.kr" target="_blank">씨베이 호텔</a></li>
                                <li><a href="http://intoraon.co.kr" target="_blank">정선인투라온 호텔</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="copy-txt-box">
                    <p class="p-company">
                        (주)이비즈네트웍스  대표이사 : 박기범  대표전화: 02-6255-3313<br>
                        서울시 강남구 테헤란로82길 15,(대치동, 디아이 타워)  사업자등록번호 : 220-87-30865<br>
                        통신판매업신고번호 : 제 강남-11501호
                    </p>
                    <p class="p-company">
                        멜론카 MELONCAR  (주)이엔리츠  대표이사 : 박기범  대표전화 : 02-6255-3313<br>
                        서울시 강남구 테헤란로82길 15, 12층 (대치동, 디아이타워)  사업자등록번호 : 780-87-00126<br>
                        통신판매업신고번호 : 제 2015-서울강남-02192호
                    </p>
                    <p class="p-copyright">COPYRIGHT © MELONCAR ALL RIGHTS RESERVED.</p>
                </div>
            </div>
            <div class="tel-area">
                <div class="tel-box">
                    <div class="icon-tel">
                        <img src="http://design.ebiznetworks.co.kr/lhc/meloncar/img/common/icon_tel.png" alt="아이콘">
                    </div>
                    <div class="txt-box">
                        
                        <p class="p-tel show-pc">02) 6255-3133</p>
                        <a class="p-tel show-mobile" href="tel:02-6255-3133">02) 6255-3133</a>
                        <p class="p-time">평일 09~18시 (12~13시 제외)</p>
                    </div>
                </div>
                <a href="https://open.kakao.com/o/sZJy4m0c" target="_blank" class="kakao-box">
                    <div class="icon-kakao">
                        <img src="http://design.ebiznetworks.co.kr/lhc/meloncar/img/common/icon_kakao.png" alt="아이콘">
                    </div>
                    <div class="txt-box">
                        <p class="p-1">카카오톡 실시간 상담</p>
                        <p class="p-2">빠르고 편안하게 자유롭게 !</p>
                        <p class="p-3">■ 친구추가 ID : <span class="mark">카대리</span></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function(){
        $(".btn-open-site").on("click", function(){
            $(".family-site .site-box").toggle();
        });
    });
</script>