<header class="header">
    <!-- 무료숙박 이벤트 배너 삭제 -->
    <!-- <div class="banner_long-term">
        <a href="#none" class="banner-box">
            <img class="img-pc" src="http://static.meloncar.kr/img/banner/banner_long-term.png"
                alt="장기렌터카 상담완료시 '강원도 인기 숙박시설 무료이용' 무조건 증정!">
            <img class="img-m" src="http://static.meloncar.kr/img/banner/m/m-banner_long-term.png"
                alt="장기렌터카 상담완료시 '강원도 인기 숙박시설 무료이용' 무조건 증정!">
        </a>
        <button class="btn-close">
            <img src="http://static.meloncar.kr/img/banner/btn_close.png" alt="배너창 닫기">
        </button>
    </div>
    <div class="banner-popup">
        <div class="popup-box">
            <div class="img">
                <img class="img-pc" src="http://static.meloncar.kr/img/banner/event-rent.jpg"
                    alt="장기렌터카 상담완료 고객님 대상으로 '강원도의 인기 숙박 시설을 무료로 이용'하실 수 있는 고객감사 이벤트">
                <img class="img-m" src="http://static.meloncar.kr/img/banner/m/m-event-rent.jpg"
                    alt="장기렌터카 상담완료 고객님 대상으로 '강원도의 인기 숙박 시설을 무료로 이용'하실 수 있는 고객감사 이벤트">
                <ul class="site-link">
                    <li>
                        <a class="link1" href="http://ocean2you.co.kr/" target="_blank">
                            <img src="http://static.meloncar.kr/img/banner/event-resort.jpg" alt="고성/오션투유리조트">
                        </a>
                        <a class="link2" href="http://intoraon.co.kr/" target="_blank">
                            <img src="http://static.meloncar.kr/img/banner/event-hotel.jpg" alt="정선/인투라온호텔">
                        </a>
                    </li>

                </ul>
            </div>
            <button class="btn-close">
                <img src="http://static.meloncar.kr/img/banner/btn_close.png" alt="배너창 닫기">
            </button>
        </div>
    </div> -->
    <!-- //무료숙박 이벤트 배너 삭제 -->

    <!-- 2021.06.29 탑배너 스타벅스 추가 -->
    <div class="top-banner">
        <a href="#none" class="banner-box">
            <img class="pc-img" src="https://static.carminute.co.kr/img/ad_banner/top_banner.png"
                alt="렌터카 상담신청하고, 스벅 커피드세요!">
            <img class="m-img" src="https://static.carminute.co.kr/img/ad_banner/top_banner_m.png"
                alt="렌터카 상담신청하고, 스벅 커피드세요!">
        </a>
        <button class="btn-close">
            <img src="https://static.carminute.co.kr/img/ad_banner/banner-btn_close.png" alt="탑배너창 닫기">
        </button>
    </div>
    <!-- //2021.06.29 탑배너 스타벅스 추가 -->

    <section class="sect-header">
        <div class="header-area">
            <div class="top-logo-area">
                <a href="./index.html" class="top-logo">
                    <div class="logo-box show-pc"><img
                            src="http://design.ebiznetworks.co.kr/lhc/meloncar/img/common/top_logo.png" alt="로고"></div>
                    <div class="logo-box show-mobile"><img
                            src="http://design.ebiznetworks.co.kr/lhc/meloncar/img/common/top_logo_m.png" alt="로고">
                    </div>
                </a>
            </div>
            <nav class="menu-area">
                <ul class="main-menu-ul">
                    <li><a data-move-anchor="sect-benefit" class="active">장기렌터카<span
                                class="hidden-mobile">안내</span></span></a></li>
                    <li><a data-move-anchor="sect-carlist">추천/인기차종</a></li>
                    <li><a data-move-anchor="sect-partner">제휴사소개</a></li>
                    <li class="show-pc"><a data-move-anchor="sect-qna">장기렌트FAQ</a></li>
                    <li><a class="fn-open-consult">견적요청</a></li>
                </ul>
            </nav>

        </div>
        <div class="header-tel">
            <div class="tel-area">
                <div class="icon-tel">
                    <img src="http://design.ebiznetworks.co.kr/lhc/meloncar/img/common/icon_tel.png" alt="아이콘">
                </div>
                <div class="tel-txt">
                    <p class="p-tel">02) 6255-3133</p>
                    <p class="p-ment">전화 즉시 상담이 가능합니다!</p>
                </div>
            </div>
        </div>
    </section>
</header>