<textarea class="policy-textarea">
1. 개인정보의 수집 항목
1) 개인정보 항목 : 이름, 핸드폰번호, 관심차종, 지역
2) 수집방법 : 동의하기 체크 후 개인정보 입력 시 수집

2. 수집 및 이용 목적
장기렌터카 및 자동차리스 견적상담, 관련 서비스 제공, 개인정보 제3자 제공

3. 보유 및 이용 기간
1) 개인정보 보유 및 이용기간
이용자의 개인정보는 최종상담일로부터 1년 후 자동으로 파기합니다.
2) 개인정보 보존근거 및 보존항목
   - 당사와 계약 이력이 있는 이용자의 추가적인 상담 및 이용내역 조회를 위해 
     계약기간동안 개인정보를 보호합니다.
   - 보존항목은 계약시 진행한 계약내용 전체를 계약기간내 보호

4. 개인정보 보호책임자 및 처리부서
   개인정보 보호책임자 : 
   개인정보 관리부서 : 
   개인정보 고충사항처리 : 

※ 상기 개인정보 수집ㆍ이용에 대하여 귀하는 동의하지 않을 수 있습니다. 
     단, 동의 거부 시 렌터카 견적문의가 불가합니다.

</textarea>