<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content='i5EoDArYKX4Q98jjxWpEEbFBzQVUGZMj9JYJSKA1'>
    <meta name="description" content="개인사업자, 법인차량, 신차장기렌트카, 렌터카, 가격비교, 차량구매, 견적, 비용, 리스">

    <meta property="og:type" content="website">
    <meta property="og:title" content="신차장기렌트카 카미닛">
    <meta property="og:description" content="개인사업자, 법인차량, 신차장기렌트카, 렌터카, 가격비교, 차량구매, 견적, 비용, 리스">
    <meta property="og:image" content="//static.carminute.co.kr/img/favicon.png">
    <meta property="og:url" content="https://www.carminute.co.kr">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="신차장기렌트카 카미닛">
    <meta name="twitter:description" content="개인사업자, 법인차량, 신차장기렌트카, 렌터카, 가격비교, 차량구매, 견적, 비용, 리스">
    <meta name="twitter:image" content="//static.carminute.co.kr/img/favicon.png">
    <meta name="twitter:domain" content="https://www.carminute.co.kr">

    <meta name="naver-site-verification" content="96988e96e1e66a371e8121bb80805da59540ff5e" />

    <title>신차장기렌트카 카미닛</title>
    <link rel="shortcut icon" href="//static.carminute.co.kr/img/favicon.png" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">

    <link rel="stylesheet" href="//static.carminute.co.kr/css/landing/car_minute/search/reset.css">
    <!-- <link rel="stylesheet" href="//static.carminute.co.kr/css/landing/car_minute/search/__init.css"> -->

    <link rel="stylesheet" href="//static.carminute.co.kr/css/landing/car_minute/search/__init.css">


    <script src="//static.carminute.co.kr/js/libs/jquery-3.5.1.min.js"></script>
    <script src="//static.carminute.co.kr/js/libs/jquery.cookie-1.4.1.min.js"></script>
    <script src="//static.carminute.co.kr/js/landing/car_minute/__land_init.js"></script>

    <!-- Global site tag (gtag.js) - Google Ads: 880775342 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-880775342"></script>

</head>

<body class="body-main">
    <div class="land-wrap">
        <!-- 배너추가 -->
        <header class="header">
            <!-- 무료숙박 이벤트 배너추가 -->
            <div class="banner_long-term">
                <a href="#none" class="banner-box">
                    <img class="img-pc"
                        src="http://static.carminute.co.kr/img/landing/car_minute/landing/banner_long-term.png"
                        alt="장기렌터카 상담완료시 '강원도 인기 숙박시설 무료이용' 무조건 증정!">
                    <img class="img-m"
                        src="http://static.carminute.co.kr/img/landing/car_minute/landing/m/m-banner_long-term.png"
                        alt="장기렌터카 상담완료시 '강원도 인기 숙박시설 무료이용' 무조건 증정!">
                </a>
                <button class="btn-close">
                    <img src="http://static.carminute.co.kr/img/landing/car_minute/landing/btn_close.png" alt="배너창 닫기">
                </button>
            </div>
            <div class="banner-popup">
                <div class="popup-box">
                    <div class="img">
                        <img class="img-pc"
                            src="http://static.carminute.co.kr/img/landing/car_minute/landing/event-rent.jpg"
                            alt="장기렌터카 상담완료 고객님 대상으로 '강원도의 인기 숙박 시설을 무료로 이용'하실 수 있는 고객감사 이벤트">
                        <img class="img-m"
                            src="http://static.carminute.co.kr/img/landing/car_minute/landing/m/m-event-rent.jpg"
                            alt="장기렌터카 상담완료 고객님 대상으로 '강원도의 인기 숙박 시설을 무료로 이용'하실 수 있는 고객감사 이벤트">
                        <ul class="site-link">
                            <li>
                                <a class="link1" href="http://ocean2you.co.kr/" target="_blank">
                                    <img src="http://static.carminute.co.kr/img/landing/car_minute/landing/event-resort.jpg"
                                        alt="고성/오션투유리조트">
                                </a>
                                <a class="link2" href="http://intoraon.co.kr/" target="_blank">
                                    <img src="http://static.carminute.co.kr/img/landing/car_minute/landing/event-hotel.jpg"
                                        alt="정선/인투라온호텔">
                                </a>
                            </li>

                        </ul>
                    </div>
                    <button class="btn-close">
                        <img src="http://static.carminute.co.kr/img/landing/car_minute/landing/btn_close.png"
                            alt="배너창 닫기">
                    </button>
                </div>
            </div>
            <!-- //무료숙박 이벤트 배너추가 -->
        </header>
        <!-- //배너추가 -->
        <main class="land-container land-main">
            <section class="sect sect-intro">

                <div class="sect-container">
                    <div class="intro-area">
                        <!-- 2021.04.19 이미지 변경 -->
                        <div class="img-bg">
                            <img class="show-pc"
                                src="http://static.carminute.co.kr/img/landing/car_minute/landing/intro-bg.jpg"
                                alt="장기렌터카, 같은 차량도 금융, 캐피탈에 따라 비용도 천차만별!! 멜론카 최대 3% 추가할인">
                            <img class="show-mobile"
                                src="http://static.carminute.co.kr/img/landing/car_minute/landing/intro-bg-m.jpg"
                                alt="장기렌터카, 같은 차량도 금융, 캐피탈에 따라 비용도 천차만별!! 멜론카 최대 3% 추가할인">
                        </div>
                        <div class="title-area">
                            <div class="part-title-area">
                                <div class="ani-blink">
                                    <img class="show-pc"
                                        src="http://static.carminute.co.kr/img/landing/car_minute/landing/txt_pc.png"
                                        alt="타이틀 부분">
                                    <img class="show-mobile"
                                        src="http://static.carminute.co.kr/img/landing/car_minute/landing/txt_m.png"">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </section>
            <section class=" sect sect-write">
                                    <div class="sect-container">
                                        <div class="write-box-bg show-pc">
                                            <img src="http://static.carminute.co.kr/img/landing/car_minute/landing/write_box_bg.png"
                                                alt="박스배경">
                                        </div>
                                        <div class="write-area">
                                            <div class="title-box">
                                                <div class="title-main"><img
                                                        src="http://static.carminute.co.kr/img/landing/car_minute/landing/write_title_main.png"
                                                        alt="타이틀 메인"></div>
                                                <div class="title-sub"><img
                                                        src="http://static.carminute.co.kr/img/landing/car_minute/landing/write_title_sub.png"
                                                        alt="타이틀 서브"></div>
                                            </div>
                                            <div class="write-box">
                                                <ul class="in-write-ul">
                                                    <li>
                                                        <label for="in-name">성함</label>
                                                        <input type="text" id="in-name" placeholder="성함을 입력해주세요.">
                                                    </li>
                                                    <li>
                                                        <label for="in-phone">휴대폰번호</label>
                                                        <input type="text" id="in-phone" placeholder="번호만 입력('-' 제외)">
                                                    </li>

                                                    <li>
                                                        <label for="in-type">관심차종</label>
                                                        <input type="text" id="in-type" placeholder=" 차종을 입력해주세요.">
                                                    </li>
                                                </ul>
                                                <!-- 2021.04.19 button -> a변경 -->
                                                <a class="btn-quote"
                                                    href="http://static.carminute.co.kr/landing/car_minute/landing/index_complete.html">
                                                    <img src="http://static.carminute.co.kr/img/landing/car_minute/landing/btn_quote.png"
                                                        alt="버튼">
                                                </a>
                                                <p class="write-notice">
                                                    안내) 입력정보는 서비스를 위해 일시적으로 확인되며
                                                    <br>
                                                    이후 삭제되오니 안심하십시오.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
            </section>
            <section class="sect sect-footer">
                <div class="sect-container">
                    <!-- 2021.04.19 푸터내용변경 -->
                    <p class="p-copy-company">
                        (주)이비즈네트웍스 대표이사 : 박기범 대표전화: 02-6255-3313<br>
                        서울특별시 강남구 테헤란로82길 15,(대치동, 디아이 타워) 사업자등록번호 : 220-87-30865<br>
                        통신판매업신고번호 : 제 강남-11501호
                    </p>
                    <p class="p-copy-company">
                        (주)이비즈에셋 대표이사 : 김영배 대표전화: 02-6255-3313<br>
                        강원도 고성군 죽왕면 삼포리 243-13 2층 237호 사업자등록번호 : 865-87-00164<br>
                        통신판매업신고번호 : 제 2019-강원 고성군-60호
                    </p>
                    <!-- //2021.04.19 푸터내용변경 -->
                    <p class="p-copy-txt">COPYRIGHT © CARMINUTE ALL RIGHTS RESERVED.</p>
                </div>
            </section>
            <!--사이드-->
            <aside class="side-sect-right">
                <div class="side-area-banner">
                    <!-- 2021.05.21 렌터카 상담이벤트 -->
                    <div class="top-consult">
                        <a href="#none" class="rent-event">
                            <img src="https://static.carminute.co.kr/img/landing/car_minute/banner-coupon1.png"
                                alt="렌터카 상담하고 커피쿠폰 받기">
                        </a>
                        <a href="#none" class="top-estimate">
                            <img src="https://static.carminute.co.kr/img/landing/car_minute/banner-coupon2.png"
                                alt="견적받기">
                        </a>
                    </div>
                    <!-- //2021.05.21 렌터카 상담이벤트 -->

                    <!-- 사이드 배너 -->
                    <div class="banner-link">
                        <a href="#none" class="btn-request">
                            <img src="http://static.carminute.co.kr/img/landing/car_minute/landing/banner-request.jpg"
                                alt="멜론카 견적요청, 30개사 비교견적">
                        </a>
                        <div>
                            <img src="http://static.carminute.co.kr/img/landing/car_minute/landing/banner-call.jpg"
                                alt="상담전화 02)6255-3133">
                        </div>
                        <!-- 카카오톡 상담 링크추가 -->
                        <a href="https://open.kakao.com/o/sZJy4m0c" target="_blank" class="btn-kakao">
                            <img src="http://static.carminute.co.kr/img/landing/car_minute/landing/banner-kakao.jpg"
                                alt="멜론카, 카톡 비밀상담 카톡ID: 카대리">
                        </a>
                    </div>
                    <!-- //사이드 배너 -->
                </div>
            </aside>
            <!--모바일용 바텀 버튼-->
            <div class="btn-bottom-sect show-mobile">
                <div class="btn-area">
                    <a href="tel:0262553133" class="btn-move btn-move-write">
                        <img src="http://static.carminute.co.kr/img/landing/car_minute/landing/btn_tell_m.png"
                            alt="상담전화 02)6255-3133">
                    </a>
                    <a href="https://open.kakao.com/o/sZJy4m0c" target="_blank">
                        <img src="http://static.carminute.co.kr/img/landing/car_minute/landing/btn_go_kakao_m.png"
                            alt="카톡 비밀상담, 카톡아이디: 카대리">
                    </a>

                </div>
            </div>
        </main>

        <!-- 2021.05.21 스타벅스 이벤트 팝업추가 -->
        <div class="popup-event">
            <div>
                <img src="https://static.carminute.co.kr/img/landing/car_minute/starbucks_popup.jpg"
                    alt="장기렌트카 견적받으면 스타벅스 커피쿠폰 증정, 행사기간 2021년 5월 20일 ~ 6월 30일까지">
                <button class="btn-close">닫기버튼</button>
            </div>
        </div>
        <!-- //2021.05.21 스타벅스 이벤트 팝업추가 -->

        <!-- 상담신청 고정바 -->
        <div class="consult-bar">
            <div class="inner">
                <h4>
                    <img src="http://static.carminute.co.kr/img/landing/car_minute/landing/consult-img.png"
                        alt="카민 장기렌터카 간편 상담신청">
                </h4>
                <form action="" class="user-info">
                    <ul>
                        <li>
                            <label for="user-name">성함</label>
                            <input id="user-name" type="text" placeholder="고객명" />
                        </li>
                        <li>
                            <label for="user-wish">희망모델</label>
                            <input id="user-wish" type="text" placeholder="차종입력" />
                        </li>
                        <li>
                            <label for="user-phone">연락처</label>
                            <input id="user-phone" type="text" placeholder="번호만 입력('-'제외)" />
                        </li>
                    </ul>
                </form>
                <button class="btn-estimate">
                    <img src="http://static.carminute.co.kr/img/landing/car_minute/landing/btn-receive.png"
                        alt="지금 견적받기">
                </button>
            </div>
        </div>
        <!-- //상담신청 고정바 -->
        <!-- 견적받기 popup -->
        <div class="popup-estimate">
            <div class="modal-box">
                <button class="btn-close">
                    <img src="http://static.carminute.co.kr/img/landing/car_minute/landing/btn-close.png" alt="팝업창 닫기">
                </button>
                <div class="modal-box_cont">
                    <div class="head">
                        <strong>[ 최상의 조건과 놀라운 가격 ]</strong>
                        <h4 class="title">비교견적 신청 완료</h4>
                    </div>
                    <div class="cont">
                        <figure>
                            <img src="http://static.carminute.co.kr//img/landing/car_minute/landing/apply-complete.png"
                                alt="견적 신청한 자동차 이미지">
                        </figure>
                        <p class="text">희망하시는 내용으로 전문상담원이<br> 안내해 드리겠습니다.</p>
                        <p class="sub-text">입력하신 정보는 서비스를 위해 일시적으로 확인되며<br> 이후 삭제되어니 안심하십시오.</p>
                    </div>
                    <div class="bottom">
                        <a href="http://www.carminute.co.kr/" target="_blank" class="btn-more">
                            <span>더 자세한 안내</span>
                        </a>
                        <p>카민에서 완벽하게 가이드해 드립니다.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- //견적받기 popup -->
    </div>
</body>

</html>