<div class="pop-policy-wrap">
    <div class="pop-policy">
        <div class="policy-area">
    <pre class="policy-textarea">
<span class="tit-main">개인정보 활용정책 내용</span>

<span class="tit">1. 개인정보의 수집목적 및 이용</span>
  가. 다음과 같은 목적을 위하여 고객님의 개인정보를 수집 및 이용하고 있습니다.
     - 장기렌터카 및 자동차리스  견적상담 및 관련 서비스 제공

<span class="tit">2. 수집하는 개인정보 항목</span>
  가. 개인정보 항목 - 이름, 핸드폰번호,관심차종
  나. 수집방법 - 동의 체크박스에 클릭할 경우, 개인정보수집에 동의한 것으로 간주합니다

<sapn class="tit">3. 개인정보의 보유 및 이용기간</sapn>
  가. 이용자가 제공하는 개인정보는 최종 상담일로부터 1년후 더 이상의 상담이 이뤄지지 않으면 파기합니다.
  나. 이용자가 개인정보의 파기를 요청하는경우  해당 이용자의 개인정보를 파기합니다.
    </pre>
        </div>
        <button type="button" class="btn-close-policy">닫기</button>
    </div>
    
</div>