<!--사이드-->
<aside class="side-sect-right">
    <div class="side-area">
        <div class="side-item">
            <button type="button" class="btn-rent">
                <img src="http://static.meloncar.kr/img/banner/banner-coupon1.png" alt="렌터카 상담하고 커피쿠폰받기!">
            </button>
            <button type="button" class="btn-esti">
                <img src="http://static.meloncar.kr/img/banner/banner-coupon2.png" alt="견적보기">
            </button>
        </div>
        <div class="side-item">
            <!-- 2021.06.29 무료숙박권 배너 삭제 -->
            <!-- <button type="button" class="btn-event">
                <img src="http://static.meloncar.kr/img/main/side_banner_freehotel.png"
                    alt="감사이벤트, 상담완료시 강원도 숙박시설 무료이용">
            </button> -->

        </div>
        <div class="side-item">
            <button type="button" class="fn-open-consult">
                <img src="http://static.meloncar.kr/img/main/side_banner_quote.png" alt="최저가 비교견적, 견적요청">
            </button>
        </div>
        <div class="side-item">
            <a href="https://open.kakao.com/o/sZJy4m0c" target="_blank">
                <img src="http://static.meloncar.kr/img/main/side_banner_kakao.png" alt="카카오톡 상담 친구 ID: 카대리">
            </a>
        </div>
    </div>
</aside>
<!--.//사이드-->

<!-- 2021.06.29 스타리아 팝업 -->
<div class="popup-staria" style="display: none;">
    <div class="inwrap">
        <img src="http://static.carminute.co.kr/img/popup/staria/staria-bg.jpg" alt="독점계약! 스타리아 즉시출고 07.01 ~ 소진시까지">
        <button class="btn-close">닫기버튼</button>
        <div class="apply-form">
            <form>
                <div class="inbox">
                    <input type="text" name="username" placeholder="이름" />
                    <input type="text" name="car" placeholder="차종" value="스타리아" />
                </div>
                <input class="input-tel" type="text" name="tel" placeholder="연락처" />
                <div class="agreement">
                    <input type="checkbox" id="chk-agree" checked>
                    <label for="chk-agree">
                        <span>개인정보수집동의</span>
                    </label>
                    <button type="button" class="btn-more">보기</button>
                </div>
                <button type="button" class="btn-request">
                    <img src="http://static.carminute.co.kr/img/popup/staria/btn-ask.png" alt="신청문의 버튼이미지">
                    <div class="icon-img">
                        <img class="pc-img" src="http://static.carminute.co.kr/img/popup/staria/mini-starbucks.png"
                            alt="지금 상담받고 스벅커피 받자!">
                        <img class="m-img" src="http://static.carminute.co.kr/img/popup/staria/mini-starbucks.png"
                            alt="지금 상담받고 스벅커피 받자!">
                    </div>
                </button>
            </form>
        </div>
    </div>
</div>
<!-- //2021.06.29 스타리아 팝업 -->

<!-- 스타벅스 팝업 -->
<div class="popup-starbucks">
    <!-- 21.07.07 -->
    <div>
        <img src="http://static.meloncar.kr/img/banner/starbucks_popup.jpg" alt="장기렌트카 견적받으면 스타벅스 전원증정!">
        <button class="btn-close">닫기버튼</button>
        <!-- 버튼추가: 클릭시 기존 견적문의하기 팝업 활성화 -->
        <button class="fn-open-consult">
            <img src="http://static.meloncar.kr/img/banner/btn-starbucks_pop.png" alt="견적받고 스타벅스 커피받기 버튼">
        </button>
    </div>
    <!-- //21.07.07 -->
</div>
<!-- //스타벅스 팝업 -->

<!-- 2021.06.22 보기 클릭시 팝업창 추가-->
<!-- popup 개인정보 활용정책 내용 -->
<div class="pop-policy-wrap">
    <div class="pop-policy">
        <div class="policy-area">
            <pre class="policy-textarea"><span class="tit-main">개인정보 활용정책 내용</span>

<span class="tit">1. 개인정보의 수집목적 및 이용</span>
가. 다음과 같은 목적을 위하여 고객님의 개인정보를 수집 및 이용하고 있습니다.
- 장기렌터카 및 자동차리스 견적상담 및 관련 서비스 제공

<span class="tit">2. 수집하는 개인정보 항목</span>
가. 개인정보 항목 - 이름, 핸드폰번호,관심차종
나. 수집방법 - 동의 체크박스에 클릭할 경우, 개인정보수집에 동의한 것으로 간주합니다

<span class="tit">3. 개인정보의 보유 및 이용기간</span>
가. 이용자가 제공하는 개인정보는 최종 상담일로부터 1년후 더 이상의 상담이 이뤄지지 않으면 파기합니다.
나. 이용자가 개인정보의 파기를 요청하는경우 해당 이용자의 개인정보를 파기합니다.
            </pre>
        </div>
        <button type="button" class="btn-close-policy">닫기</button>
    </div>

</div>
<!-- //popup 개인정보 활용정책 내용 -->
<!-- //2021.06.22 보기 클릭시 팝업창 추가 -->

<!--모바일 바텀버튼-->
<div class="btn-bottom-sect show-mobile">
    <!-- 2021.06.21 -->
    <div class="btn-area">
        <a href="tel:02-6255-3133" class="btn btn-tel">
            <div class="icon"><img src="http://static.meloncar.kr/img/common/icon_btn_tel.png" alt="아이콘"></div>
            <!-- 수정: 상담전화 -> 전화상담 -->
            <p class="p-txt">전화<br>상담</p>
        </a>
        <!-- 카톡위치 변경: 기존 3번째 -> 변경 2번째-->
        <a href="https://open.kakao.com/o/sZJy4m0c" class="btn btn-kakao" target="_blank">
            <div class="icon"><img src="http://static.meloncar.kr/img/common/icon_btn_kakao.png" alt="이미지"></div>
            <!-- 수정: 카톡상담 -> 카톡문의 -->
            <p class="p-txt">카톡<br>문의</p>
        </a>
        <a class="btn btn-estimate fn-open-consult">
            <div class="icon">
                <!-- 수정: 이미지변경 icon_btn_starbucks.png -->
                <img src="http://static.meloncar.kr/img/common/icon_btn_starbucks.png" alt="견적받고 스벅커피 받기">
            </div>
            <!-- 수정: 견적요청 -> 견적받고 스벅커피 받기 -->
            <p class="p-txt">견적받고 <br> 스벅커피 받기</p>
        </a>

        <!-- //2021.06.21 -->
    </div>
</div>
<!--.//모바일 바텀버튼-->

<!--위로가기 버튼-->
<div class="fn-up-wrap">
    <div class="fn-up-area">
        <div class="btn-box">
            <button type="button" class="btn-fn-up fn-scroll-up">
                <div class="img-box"><img src="http://static.meloncar.kr/img/common/btn_fn_up.png" alt="위로가기"></div>
            </button>
        </div>
    </div>
</div>
<!--./위로가기 버튼-->


<!-- popup: 최저가비교견적 -->
<div class="fn-pop-target pop-sty pop-consult">
    <div class="pop-area">
        <!-- 2021.06.29 무료숙박권 배너 삭제 -->
        <!-- <div class="event-rentcar">
            <img src="http://static.meloncar.kr/img/common/btn_freehotel.jpg"
                alt="감사이벤트, 장기렌터카 상담완료시 무조건 증정 '강원도 인기 숙박 시설 무료이용'">
        </div> -->
        <button type="button" class="btn-close fn-pop-close">
            <img src="http://static.meloncar.kr/img/common/btn_close_pop.png" alt="닫기">
        </button>
        <div class="title-area">
            <p class="title-sub">[ 최상의 조건과 놀라운 가격 ]</p>
            <p class="title-main">장기렌터카 비교견적 신청</p>
        </div>
        <div class="in-box">
            <ul class="inbox-ul">
                <li>
                    <label for="in-name">성함</label>
                    <input type="text" autocomplete="off" id="in-name" placeholder="홍길동">
                </li>
                <li>
                    <label for="in-phone">연락처</label>
                    <input type="text" autocomplete="off" id="in-phone" placeholder="입력">
                </li>
                <li>
                    <label for="in-txt" class="in-txt-label">희망모델</label>
                    <textarea id="in-txt" class="in-txt" placeholder="그랜저/ 3.3가솔린"></textarea>
                </li>
            </ul>
            <!-- 2021.06.25 개인정보수집 추가 -->
            <div class="agreement">
                <input type="checkbox" id="check-agreement" checked>
                <label for="check-agreement">
                    <span>개인정보 수집동의</span>
                </label>
                <button type="button" class="btn-more">보기</button>
            </div>
            <!-- 2021.06.25 개인정보수집 추가 -->
            <p class="p-ment01">
                입력하신 정보는 서비스를 위해 일시적으로 확인되며<br>
                이후 삭제되어니 안심하십시오.
            </p>
            <button type="button" class="btn fn-open-complete">빠른 비교견적 요청</button>
            <p class="p-ment02">
                최대32개 지점의 비교견적을 안내해 드립니다
            </p>
        </div>
    </div>
</div>
<!-- //popup: 최저가비교견적 -->


<!--완료박스-->
<div class="fn-pop-target pop-sty pop-complete">
    <div class="pop-area">
        <button type="button" class="btn-close fn-pop-close">
            <img src="http://static.meloncar.kr/img/common/btn_close_pop.png" alt="닫기">
        </button>
        <div class="title-area">
            <p class="title-sub">[ 최상의 조건과 놀라운 가격 ]</p>
            <p class="title-main">비교견적 신청완료</p>
        </div>
        <div class="cont-box">
            <div class="car-box">
                <div class="img-box">
                    <img src="http://static.meloncar.kr/img/common/pop_car.png" alt="자동차">
                </div>
            </div>
            <p class="p-ment03">
                희망하시는 내용으로 전문상담원이<br>
                안내해 드리겠습니다.
            </p>
            <p class="p-ment01">
                입력하신 정보는 서비스를 위해 일시적으로 확인되며<br>
                이후 삭제되어니 안심하십시오.
            </p>
            <button type="button" class="btn fn-pop-close">곧 연락드리겠습니다.</button>
            <p class="p-ment02">
                멜론카에서 완벽하게 가이드해 드립니다.
            </p>
        </div>
    </div>
</div>
<!--완료박스-->


<script>
    $(document).ready(function () {

        //==빠른상담신청(오픈)==
        $(".fn-open-consult").on("click", function () {
            $("body").addClass("overflow-hidden");
            $(".pop-consult").show();
        });
        //==빠른상담신청(오픈)==

        //==완료박스(오픈)==
        $(".fn-open-complete").on("click", function () {
            $("body").addClass("overflow-hidden");
            //상담신청 팝업 닫기
            $(".pop-consult").hide();
            //완료박스 열기
            $(".pop-complete").show();
        });
        //==완료박스(오픈)==

    });

</script>