/*정보입력 페이지*/
.land-wrap .land-info-input{
    .sect-info-input{
        .sect-container{
            .contents-area{
                .ask-area{
                    .in-info-area{
                        margin-top: 118px;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        .in-box{
                            display: flex;
                            // justify-content: center;
                            *{
                                font-family: 'GmarketSans', sans-serif;
                            }
                            input{
                                // display: block;
                                margin-right: 25px;
                                // height: 68px;
                                padding-bottom: 18px;
                                color: #ccc;
                                font-size: 30px;
                                font-weight: 300;
                                // line-height: 1.5;
                                background-color: transparent;
                                border-bottom: 2px solid #fec4ff;
                                &::placeholder{
                                    color: #ccc;
                                    
                                }
                                &:last-of-type{
                                    margin-right: 4px;
                                }
                            }
                            .in-name{
                                width: 220px;
                            }
                            .in-phone{
                                width: 270px;
                            }
                            .in-car{
                                width: 290px;
                            }


                            .in-item{

                            }
                            
                        }
                        .btn-complete{
                            flex-shrink: 0;
                            color: #fff;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            background-color: #000;
                            border: 2px solid #535353;
                            border-radius: 50%;
                            width: 112px;
                            height: 112px;
                            .img-box{
                                width: 32px;
                                padding-left: 9px;
                                .on{
                                    display: none;
                                }
                            }
                            .p-txt{
                                margin-top: 7px;
                                font-family: 'GmarketSans', sans-serif;
                                color: #a5a5a5;
                                font-size: 18px;
                                font-weight: 400;
                            }
                            &:hover{
                                border-color: #fff;
                                .on{
                                    display: block;
                                }
                                .off{
                                    display: none;
                                }
                                .p-txt{
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:900px){
    .land-wrap .land-info-input{
        .sect-info-input{
            .sect-container{
                .contents-area{
                    .ask-area{
                        .ment-main{
                            margin-top: 10.0rem;
                        }
                        .ment-ask{
                            margin-top: 4.4rem;
                        }
                        .in-info-area{
                            margin-top: 4.0rem;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            .in-box{
                                flex-direction: column;
                                *{
                             
                                }
                                input{
                                    margin-right: 0;
                                    margin-bottom: 2.0rem;
                                    padding-left: 2.6rem;
                                    padding-bottom: 0;
                                    height: 9.8rem;
                                    color: #fff;
                                    font-size: 3.0rem;
                                    font-weight: 400;
                                    // line-height: 1.5;
                                    background-color: rgba(0,0,0,0.3);
                                    border-bottom: 1px solid #505050;
                                    &::placeholder{
                                        color: #fff;
                                        
                                    }
                                    &:last-of-type{
                                        margin-right: 0;
                                        margin-bottom: 0;
                                    }
                                }
                                .in-name{
                                    
                                }
                                .in-phone{
                                    
                                }
                                .in-car{
                                    
                                }
    
    
                                .in-item{
                                    // width: 100%;
                                    width: 60.2rem;
                                }
                                
                            }
                            .btn-complete{
                                color: #fff;
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                border: 3px solid #535353;
                                border-radius: 0.8rem;
                                width: 60.2rem;
                                height: 10.2rem;
                                margin-top: 4.2rem;
                                .img-box{

                                    width: 3.2rem;
                                    padding-left: 0;
                                    .on{
                                        display: block;
                                    }
                                    .off{
                                        display: none;
                                    }
                                }
                                .p-txt{
                                    margin-top: 0;
                                    padding-top: 0.2rem;
                                    margin-left: 1.2rem;
                                    color: #fff;
                                    font-size: 4.0rem;
                                    // line-height: 1.0s;
                                    font-weight: 400;
                                    letter-spacing: 1.8rem;
                                    // text-align: center;
                                }
                                &:hover{
                                    
                                    .on{
                                    
                                    }
                                    .off{
                                    
                                    }
                                    .p-txt{
                                    
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }   
}




